body {
	font-size: 13px;
	background-color: #20B2AA;
	
}

a{
	color: lightseagreen;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}



/*到哈根你字体*/
.dh {
	color: lightcyan;
	text-decoration: none;
}

.dh:hover {
	color: aqua;
	text-decoration: none;
}

.white {
	color: white;
}

.fonthead {
	color: black;
	text-decoration: none;
}

.fonthead:hover {
	color: black;
	text-decoration: none;
}

.m:link{
	color: teal;
	font-weight: bold;
	text-decoration: none;
}

.m:hover {
	color: deepskyblue;
	
}



.tablestyle {
	border-bottom: solid 1px grey;
	border-left: solid 1px grey;
	border-right: solid 1px grey;
	border-radius: 3px;
	color: #00BFFF;	
}

